<div class="flex h-[90vh] justify-center items-center">
    <div class="space-y-4">
        <p class="underline">Register</p>
        <div>
            <p>Username:</p>
            <input type="text" class="border" [(ngModel)]="username", name="username">
        </div>

        <div>
            <p>Password:</p>
            <input type="text" class="border" [(ngModel)]="password", name="password">
        </div>

        <button class="border px-4 py-1 cursor-pointer" (click)="register()">Register</button>
        <p class=" text-blue-500 underline cursor-pointer"><a routerLink="/login">Alreday registered?</a></p>
    </div>
</div>
