<div class="flex justify-center items-center h-[85vh]">
    <div class="border rounded p-4 shadow-sm my-3 w-full max-w-md">
        <div class="font-bold text-xl mb-2">
            Welcome! <span class="text-yellow-500">😊</span>
        </div>

        <div class="text-gray-700">
            <p class="mb-1">
                <span class="font-semibold">User Name:</span> {{ name }}
            </p>

            <p>
                <span class="font-semibold">User ID:</span> {{ id }}
            </p>
        </div>
    </div>

</div>