<div class="flex items-center h-[85vh] flex-col justify-evenly">
    <div class="w-full max-w-6xl">
        <div class="">
            <div class="font-bold text-md mb-2">
                WELCOME! <span class="text-yellow-500">😊</span>
            </div>
            <div class="text-gray-700 text-sm">
                
                <p>
                    <span class="font-semibold">User id:</span> {{ id }}
                </p>
                <p class="mb-1">
                    <span class="font-semibold">User name:</span> {{ name }}
                </p>

            </div>
        </div>
    </div>

    <div class="w-max">
        <div class="border rounded p-4 shadow-sm my-3 w-full max-w-md flex flex-col gap-2">
            <p>Make a new project</p>
            <button routerLink="/newProject" class=" cursor-pointer bg-black text-white p-2">NEW</button>
        </div>
    </div>

    <div class="w-max"></div>
</div>